/* {"Prussian Blue":"052f5f","Blue Sapphire":"005377","Air Superiority Blue":"74a4bc","Pistachio":"a5cc6b","Light Goldenrod Yellow":"f3f9d2"} */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

html, body {
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #052f5f;
  color: #F3F9D2;
  overflow: hidden;
}

body {
  display: flex;
  height: 100%;
  font-size: 1rem;
  gap: 0 10px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
  border-right: 1px solid black;
  padding: 20px;
  gap: 20px 0px;
  background-color: #005377;
}

#sidebar-icons {
  display: flex;
  flex: 0 0 50px;
  width: 100%;
  justify-content: space-between;
}

#list-name {
}

#stock-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
}

.stock-item {
  flex: 0 0 50px;
  width: 100%;
  border: 1px solid black;
}

.add-stock{
  background-color: #74A4BC;
  color: #f3f9d2;
  padding: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

#searchbar {
  width: 20rem;
  height: 2rem;
  padding: 2px;
  border-radius: 5px;
}

#stock-header {
  width: 100%
}

#chart {
  width: 100%;
  height: 500px;
  background-color: #005377;
}

#buy-sell {
  width: 100%;
}

